/*.player {
  color: red;
}
*/
svg circle {
  -webkit-animation:  kaboom 5s ease alternate infinite;
};

@-webkit-keyframes tutsFade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes kaboom {
  90% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}